<!-- Loop over each object in the projects array -->
{{#if posts.length}}

  {{#each posts as |post|}}
    <div class="row">
      <div class="col-12">
        <a
          class="text-white link-offset-2 link-underline link-underline-opacity-0"
          href="/post/{{id}}"
        >
          <div class="card text-white bg-dark shadow mb-3">
            <div class="text-center mx-auto p-3">
              <h2 class="text-warning text-start pb-2">{{title}}</h2>
              <p class="text-start">{{content}}</p>
              <p class="text-warning text-start">Click to view more!</p>

            </div>
          </div>
        </a>
      </div>
    </div>

  {{/each}}
{{/if}}

<script src="./js/post.js"></script>